@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .line-clamp-reset {
        overflow: visible !important;
        display: block !important;
        -webkit-line-clamp: unset !important;
        -webkit-box-orient: unset !important;
    }
}