<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="footer">
    <div class="allfooter space-y-2 p-4 mt-5 text-indigo-950">
      <div>
        <div class="font-bold">대표 Itzel J 대한민국 어딘가</div>
        <div class="font-bold">
          전화번호 025-0422-1022 사업자등록번호 000-00-00000 통신판매번호
          2025-부산수영-00304호
        </div>
      </div>
      <div class="space-y-2">
        <div class="flex flex-col md:flex-row justify-between">
          <div class="footer-links font-bold flex flex-wrap gap-5">
            <a href="#" class="hover:text-indigo-800">이용약관</a>
            <a href="#" class="hover:text-indigo-800">FAQ</a>
            <a href="#" class="hover:text-indigo-800">개인정보처리방침</a>
          </div>
          <div class="footer-copy mr-2 text-lg font-extrabold">
            © Papaya corp.
          </div>
        </div>
        </div>
      </div>
    </div>
  </th:block>
</html>
