<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">

  <!-- 자식 템플릿이 이 자리에 fragment를 꽂아넣는다 -->
  <th:block layout:fragment="pageHead"> </th:block>

  <!-- 공통 -->
  <!-- Tailwind CDN -->
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <!-- Tailwind output -->
  <link rel="stylesheet" href="/css/output.css">
    <!-- css -->
  <link rel="stylesheet" href="/css/style.css">


</head>
<body>

  <div class="page">
    <header>
      <th:block th:replace="common/header :: main-header"></th:block>
    </header>

    <main layout:fragment="content">
      <!-- 본문 들어갈 자리 -->
    </main>

    <footer>
      <th:block th:replace="common/footer :: footer"></th:block>
    </footer>
  </div>

  <th:block layout:fragment="extraScript"></th:block>
</body>
</html>